In [84]:
from matplotlib import pyplot as plt
import pandas as pd
import fastf1
import fastf1.logger
import numpy as np #nie masz czasu bawic sie w optymalizje
import optuna
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from telemetry_data_preprocessing import telemetry_computations

In [85]:
##fastf1.logger.set_log_level('ERROR')
fastf1.Cache.enable_cache('cache')

In [86]:
def load_data():
    global global_df
    fastf1.Cache.enable_cache('cache')
    session = fastf1.get_session(2023, 'Bahrain', 'R')
    session.load(telemetry=True)
    laps = session.laps
    df = pd.DataFrame(laps)
    global_df = df.copy()
    df = df.dropna(subset=['LapTime', 'LapNumber', 'SpeedI1', 'SpeedI2', 'SpeedFL'])
    df['LapTime_sec'] = df['LapTime'].dt.total_seconds()
    X = df[['LapNumber', 'SpeedI1', 'SpeedI2', 'SpeedFL']]
    y = df['LapTime_sec']
    return X, y

x, y = load_data()

In [88]:
import fastf1
import pandas as pd

def load_data():
    global global_df

    session = fastf1.get_session(2023, 'Bahrain', 'R')
    session.load(telemetry=True)
    laps = session.laps

    global_df = laps.copy()  # zachowaj pe≈Çne dane globalnie (opcjonalnie)

    # Filtrowanie i kopiowanie
    df = laps.dropna(subset=['LapTime', 'LapNumber', 'SpeedI1', 'SpeedI2', 'SpeedFL']).copy()
    df['LapTime_sec'] = df['LapTime'].dt.total_seconds()

    # Zbieranie telemetrii
    telemetry_data = []
    for _, lap in df.iterrows():
        tel = lap.get_telemetry()
        tel['LapNumber'] = lap['LapNumber']
        telemetry_data.append(tel)

    telemetry_df = pd.concat(telemetry_data, ignore_index=True)

    # Przygotowanie X i y
    X = df[['LapNumber', 'SpeedI1', 'SpeedI2', 'SpeedFL']]
    y = df['LapTime_sec']
    
    return telemetry_df, X, y

telemetry, X, y = load_data()

telemetry.head(5)

,Date,SessionTime,DriverAhead,DistanceToDriverAhead,Time,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Distance,RelativeDistance,Status,X,Y,Z,LapNumber
0,2023-03-05 15:03:38.501,0 days 01:02:36.652000,,0.155556,0 days 00:00:00,10076.374938,0.000000,1,16.0,False,1,interpolation,0.000194,3.748547e-08,OnTrack,-279.999631,3558.983052,-156.999885,1.0
1,2023-03-05 15:03:38.611,0 days 01:02:36.762000,,0.155556,0 days 00:00:00.110000,10130.000000,0.000000,1,16.0,False,1,car,0.000000,0.000000e+00,OnTrack,-279.999617,3558.982418,-156.999881,1.0
2,2023-03-05 15:03:38.686,0 days 01:02:36.837000,,0.155556,0 days 00:00:00.185000,9993.499884,0.000000,1,16.0,False,1,pos,-0.000268,-5.186355e-08,OnTrack,-280.000000,3559.000000,-157.000000,1.0
3,2023-03-05 15:03:38.811,0 days 01:02:36.962000,,0.155556,0 days 00:00:00.310000,9766.000000,0.000000,1,16.0,False,1,car,0.000000,0.000000e+00,OnTrack,-280.001327,3559.060983,-157.000413,1.0
4,2023-03-05 15:03:38.946,0 days 01:02:37.097000,,0.155556,0 days 00:00:00.445000,8956.001152,0.964284,1,16.0,False,1,pos,0.003325,6.439951e-07,OnTrack,-280.000000,3559.000000,-157.000000,1.0

In [89]:
telemetry.shape

(575797, 19)

In [90]:
X.head(5)

   LapNumber  SpeedI1  SpeedI2  SpeedFL
0        1.0    232.0    231.0    278.0
1        2.0    227.0    238.0    278.0
3        4.0    228.0    238.0    278.0
5        6.0    229.0    239.0    279.0
6        7.0    230.0    239.0    279.0

In [91]:
y.head(5)

0    99.019
1    97.974
3    97.976
5    97.986
6    98.021
Name: LapTime_sec, dtype: float64

In [ ]:
# def load_data():
#     global global_df
#     fastf1.Cache.enable_cache('cache')
#     session = fastf1.get_session(2023, 'Bahrain', 'R')
#     session.load(telemetry=True)
#     laps = session.laps
#     df = pd.DataFrame(laps)
#     global_df = df.copy()
#     df = df.dropna(subset=['LapTime', 'LapNumber', 'SpeedI1', 'SpeedI2', 'SpeedFL'])
#     df['LapTime_sec'] = df['LapTime'].dt.total_seconds()
#     X = df[['LapNumber', 'SpeedI1', 'SpeedI2', 'SpeedFL']]
#     y = df['LapTime_sec']
#     return X, y

In [ ]:
# driver_number = "1"
# country_name = "Bahrain"
# year = 2023

# # laps = race.laps.pick_driver('VER')

# # telemetry_list = []

# # for index, lap in laps.iterlaps():
# #     telemetry = lap.get_telemetry()
# #     telemetry['LapNumber'] = lap['LapNumber']
    
# #     telemetry_list.append(telemetry)
    
# # telemetry = pd.concat(telemetry_list)

In [92]:
telemetry = telemetry.drop(["DriverAhead", "RPM", "Source", "Status", "RelativeDistance"], axis = 1)

telemetry.DRS = telemetry.DRS.apply(lambda x: 1 if x in [10, 12, 14] else 0)

In [93]:
telemetry.head(5)

,Date,SessionTime,DistanceToDriverAhead,Time,Speed,nGear,Throttle,Brake,DRS,Distance,X,Y,Z,LapNumber
0,2023-03-05 15:03:38.501,0 days 01:02:36.652000,0.155556,0 days 00:00:00,0.000000,1,16.0,False,0,0.000194,-279.999631,3558.983052,-156.999885,1.0
1,2023-03-05 15:03:38.611,0 days 01:02:36.762000,0.155556,0 days 00:00:00.110000,0.000000,1,16.0,False,0,0.000000,-279.999617,3558.982418,-156.999881,1.0
2,2023-03-05 15:03:38.686,0 days 01:02:36.837000,0.155556,0 days 00:00:00.185000,0.000000,1,16.0,False,0,-0.000268,-280.000000,3559.000000,-157.000000,1.0
3,2023-03-05 15:03:38.811,0 days 01:02:36.962000,0.155556,0 days 00:00:00.310000,0.000000,1,16.0,False,0,0.000000,-280.001327,3559.060983,-157.000413,1.0
4,2023-03-05 15:03:38.946,0 days 01:02:37.097000,0.155556,0 days 00:00:00.445000,0.964284,1,16.0,False,0,0.003325,-280.000000,3559.000000,-157.000000,1.0

In [94]:
telemetry["mean_lap_speed"] = telemetry.groupby(by = "LapNumber")["Speed"].transform("mean")

telemetry["mean_lap_speed"] = telemetry.groupby(by = "LapNumber")["Speed"].transform("mean")

telemetry

,Date,SessionTime,DistanceToDriverAhead,Time,Speed,nGear,Throttle,Brake,DRS,Distance,X,Y,Z,LapNumber,mean_lap_speed
0,2023-03-05 15:03:38.501,0 days 01:02:36.652000,0.155556,0 days 00:00:00,0.000000,1,16.0,False,0,0.000194,-279.999631,3558.983052,-156.999885,1.0,177.238369
1,2023-03-05 15:03:38.611,0 days 01:02:36.762000,0.155556,0 days 00:00:00.110000,0.000000,1,16.0,False,0,0.000000,-279.999617,3558.982418,-156.999881,1.0,177.238369
2,2023-03-05 15:03:38.686,0 days 01:02:36.837000,0.155556,0 days 00:00:00.185000,0.000000,1,16.0,False,0,-0.000268,-280.000000,3559.000000,-157.000000,1.0,177.238369
3,2023-03-05 15:03:38.811,0 days 01:02:36.962000,0.155556,0 days 00:00:00.310000,0.000000,1,16.0,False,0,0.000000,-280.001327,3559.060983,-157.000413,1.0,177.238369
4,2023-03-05 15:03:38.946,0 days 01:02:37.097000,0.155556,0 days 00:00:00.445000,0.964284,1,16.0,False,0,0.003325,-280.000000,3559.000000,-157.000000,1.0,177.238369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575792,2023-03-05 15:23:59.014,0 days 01:22:57.165000,14.524167,0 days 00:01:40.924000,277.000000,7,99.0,False,0,5350.113611,-390.939673,1050.884326,-158.999997,12.0,179.188233
575793,2023-03-05 15:23:59.106,0 days 01:22:57.257000,9.438625,0 days 00:01:41.016000,278.149997,7,99.0,False,0,5357.235508,-388.000000,1111.000000,-159.000000,12.0,179.188233
575794,2023-03-05 15:23:59.174,0 days 01:22:57.325000,5.679722,0 days 00:01:41.084000,279.000000,7,99.0,False,0,5362.513611,-385.457412,1163.537539,-159.000000,12.0,179.188233
575795,2023-03-05 15:23:59.186,0 days 01:22:57.337000,5.679722,0 days 00:01:41.096000,279.119997,7,99.0,False,0,5363.446582,-385.000000,1173.000000,-159.000000,12.0,179.188233
575796,2023-03-05 15:23:59.246,0 days 01:22:57.397000,5.679722,0 days 00:01:41.156000,279.720000,7,99.0,False,0,5368.118602,-382.723199,1220.087476,-159.000000,12.0,179.188233

In [95]:
computations = telemetry_computations()

lon, lat = computations.compute_accelerations(telemetry=telemetry)

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [96]:
telemetry["lat_acc"] = lat
telemetry["lon_acc"] = lon

In [ ]:
telemetry['TimeNumberLapTime'] = telemetry.groupby('LapNumber').cumcount() + 1
telemetry['TimeNumberLapCounts'] = telemetry.groupby('LapNumber')['LapNumber'].transform('count')

telemetry['LapProgress'] =  telemetry['TimeNumberLapTime'] / telemetry['TimeNumberLapCounts']

In [ ]:
telemetry

,Date,SessionTime,DistanceToDriverAhead,Time,Speed,nGear,Throttle,Brake,DRS,Distance,...,Z,LapNumber,mean_lap_speed,lat_acc,lon_acc,TimeNumberLapTime,TimeNumberLapCounts,LapProgress,positive_lat_acc,negative_lat_acc
0,2023-03-05 15:03:38.501,0 days 01:02:36.652000,0.155556,0 days 00:00:00,0.000000,1,16.0,False,0,0.000194,...,-156.999885,1.0,185.815557,0.00000,0.00000,1,762,0.001312,0.00000,0.00000
1,2023-03-05 15:03:38.611,0 days 01:02:36.762000,0.155556,0 days 00:00:00.110000,0.000000,1,16.0,False,0,0.000000,...,-156.999881,1.0,185.815557,0.00000,0.00000,2,762,0.002625,0.00000,0.00000
2,2023-03-05 15:03:38.686,0 days 01:02:36.837000,0.155556,0 days 00:00:00.185000,0.000000,1,16.0,False,0,-0.000268,...,-157.000000,1.0,185.815557,-0.00000,0.00000,3,762,0.003937,-0.00000,-0.00000
3,2023-03-05 15:03:38.811,0 days 01:02:36.962000,0.155556,0 days 00:00:00.310000,0.000000,1,16.0,False,0,0.000000,...,-157.000413,1.0,185.815557,-0.00000,0.10502,4,762,0.005249,-0.00000,-0.00000
4,2023-03-05 15:03:38.946,0 days 01:02:37.097000,0.155556,0 days 00:00:00.445000,0.964284,1,16.0,False,0,0.003325,...,-157.000000,1.0,185.815557,-0.45947,0.20226,5,762,0.006562,0.00000,-0.45947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29921,2023-03-05 16:37:34.828,0 days 02:36:32.979000,NaN,0 days 00:01:35.733000,271.000000,7,0.0,True,0,5322.452222,...,-158.999991,57.0,200.748140,-0.06975,-0.73090,738,742,0.994609,0.00000,-0.06975
29922,2023-03-05 16:37:35.005,0 days 02:36:33.156000,NaN,0 days 00:01:35.910000,263.256253,7,0.0,True,0,5335.352916,...,-159.000000,57.0,200.748140,-0.07614,-1.23882,739,742,0.995957,0.00000,-0.07614
29923,2023-03-05 16:37:35.148,0 days 02:36:33.299000,NaN,0 days 00:01:36.053000,257.000000,7,0.0,True,0,5345.296667,...,-159.000000,57.0,200.748140,0.11348,-1.45304,740,742,0.997305,0.11348,0.00000
29924,2023-03-05 16:37:35.185,0 days 02:36:33.336000,NaN,0 days 00:01:36.090000,254.019450,7,0.0,True,0,5347.787384,...,-159.000000,57.0,200.748140,0.11467,-2.28099,741,742,0.998652,0.11467,0.00000
29925,2023-03-05 16:37:35.468,0 days 02:36:33.619000,NaN,0 days 00:01:36.373000,231.222222,7,0.0,True,0,5365.721179,...,-159.000000,57.0,200.748140,0.01119,-2.28099,742,742,1.000000,0.01119,0.00000

In [ ]:
def divide_column_by_sign(df : pd.DataFrame, column : str) -> pd.DataFrame:
    
    df[f"positive_{column}"] = df[column].apply(lambda x: 0 if x < 0 else x)
    df[f"negative_{column}"] = df[column].apply(lambda x: 0 if x > 0 else x)
    
    return df


telemetry = divide_column_by_sign(telemetry, "lat_acc")

telemetry

,Date,SessionTime,DistanceToDriverAhead,Time,Speed,nGear,Throttle,Brake,DRS,Distance,...,Z,LapNumber,mean_lap_speed,lat_acc,lon_acc,TimeNumberLapTime,TimeNumberLapCounts,LapProgress,positive_lat_acc,negative_lat_acc
0,2023-03-05 15:03:38.501,0 days 01:02:36.652000,0.155556,0 days 00:00:00,0.000000,1,16.0,False,0,0.000194,...,-156.999885,1.0,185.815557,0.00000,0.00000,1,762,0.001312,0.00000,0.00000
1,2023-03-05 15:03:38.611,0 days 01:02:36.762000,0.155556,0 days 00:00:00.110000,0.000000,1,16.0,False,0,0.000000,...,-156.999881,1.0,185.815557,0.00000,0.00000,2,762,0.002625,0.00000,0.00000
2,2023-03-05 15:03:38.686,0 days 01:02:36.837000,0.155556,0 days 00:00:00.185000,0.000000,1,16.0,False,0,-0.000268,...,-157.000000,1.0,185.815557,-0.00000,0.00000,3,762,0.003937,-0.00000,-0.00000
3,2023-03-05 15:03:38.811,0 days 01:02:36.962000,0.155556,0 days 00:00:00.310000,0.000000,1,16.0,False,0,0.000000,...,-157.000413,1.0,185.815557,-0.00000,0.10502,4,762,0.005249,-0.00000,-0.00000
4,2023-03-05 15:03:38.946,0 days 01:02:37.097000,0.155556,0 days 00:00:00.445000,0.964284,1,16.0,False,0,0.003325,...,-157.000000,1.0,185.815557,-0.45947,0.20226,5,762,0.006562,0.00000,-0.45947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29921,2023-03-05 16:37:34.828,0 days 02:36:32.979000,NaN,0 days 00:01:35.733000,271.000000,7,0.0,True,0,5322.452222,...,-158.999991,57.0,200.748140,-0.06975,-0.73090,738,742,0.994609,0.00000,-0.06975
29922,2023-03-05 16:37:35.005,0 days 02:36:33.156000,NaN,0 days 00:01:35.910000,263.256253,7,0.0,True,0,5335.352916,...,-159.000000,57.0,200.748140,-0.07614,-1.23882,739,742,0.995957,0.00000,-0.07614
29923,2023-03-05 16:37:35.148,0 days 02:36:33.299000,NaN,0 days 00:01:36.053000,257.000000,7,0.0,True,0,5345.296667,...,-159.000000,57.0,200.748140,0.11348,-1.45304,740,742,0.997305,0.11348,0.00000
29924,2023-03-05 16:37:35.185,0 days 02:36:33.336000,NaN,0 days 00:01:36.090000,254.019450,7,0.0,True,0,5347.787384,...,-159.000000,57.0,200.748140,0.11467,-2.28099,741,742,0.998652,0.11467,0.00000
29925,2023-03-05 16:37:35.468,0 days 02:36:33.619000,NaN,0 days 00:01:36.373000,231.222222,7,0.0,True,0,5365.721179,...,-159.000000,57.0,200.748140,0.01119,-2.28099,742,742,1.000000,0.01119,0.00000

Obliczanie submodelu telemetrii w konte≈õcie ca≈Çego okrƒÖ≈ºenia

In [ ]:
lap_df =  telemetry.copy()

lap_df['abs_lat_acc'] = lap_df['lat_acc'].abs()
lap_df['sum_lat_acc'] = lap_df.groupby('LapNumber')['abs_lat_acc'].transform('sum')

lap_df['abs_lon_acc'] = lap_df['lon_acc'].abs()
lap_df['sum_lon_acc'] = lap_df.groupby('LapNumber')['abs_lon_acc'].transform('sum')

In [ ]:
lap_df

,Date,SessionTime,DistanceToDriverAhead,Time,Speed,nGear,Throttle,Brake,DRS,Distance,...,lon_acc,TimeNumberLapTime,TimeNumberLapCounts,LapProgress,positive_lat_acc,negative_lat_acc,abs_lat_acc,sum_lat_acc,abs_lon_acc,sum_lon_acc
0,2023-03-05 15:03:38.501,0 days 01:02:36.652000,0.155556,0 days 00:00:00,0.000000,1,16.0,False,0,0.000194,...,0.00000,1,762,0.001312,0.00000,0.00000,0.00000,840.62035,0.00000,560.87748
1,2023-03-05 15:03:38.611,0 days 01:02:36.762000,0.155556,0 days 00:00:00.110000,0.000000,1,16.0,False,0,0.000000,...,0.00000,2,762,0.002625,0.00000,0.00000,0.00000,840.62035,0.00000,560.87748
2,2023-03-05 15:03:38.686,0 days 01:02:36.837000,0.155556,0 days 00:00:00.185000,0.000000,1,16.0,False,0,-0.000268,...,0.00000,3,762,0.003937,-0.00000,-0.00000,0.00000,840.62035,0.00000,560.87748
3,2023-03-05 15:03:38.811,0 days 01:02:36.962000,0.155556,0 days 00:00:00.310000,0.000000,1,16.0,False,0,0.000000,...,0.10502,4,762,0.005249,-0.00000,-0.00000,0.00000,840.62035,0.10502,560.87748
4,2023-03-05 15:03:38.946,0 days 01:02:37.097000,0.155556,0 days 00:00:00.445000,0.964284,1,16.0,False,0,0.003325,...,0.20226,5,762,0.006562,0.00000,-0.45947,0.45947,840.62035,0.20226,560.87748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29921,2023-03-05 16:37:34.828,0 days 02:36:32.979000,NaN,0 days 00:01:35.733000,271.000000,7,0.0,True,0,5322.452222,...,-0.73090,738,742,0.994609,0.00000,-0.06975,0.06975,859.40488,0.73090,553.94680
29922,2023-03-05 16:37:35.005,0 days 02:36:33.156000,NaN,0 days 00:01:35.910000,263.256253,7,0.0,True,0,5335.352916,...,-1.23882,739,742,0.995957,0.00000,-0.07614,0.07614,859.40488,1.23882,553.94680
29923,2023-03-05 16:37:35.148,0 days 02:36:33.299000,NaN,0 days 00:01:36.053000,257.000000,7,0.0,True,0,5345.296667,...,-1.45304,740,742,0.997305,0.11348,0.00000,0.11348,859.40488,1.45304,553.94680
29924,2023-03-05 16:37:35.185,0 days 02:36:33.336000,NaN,0 days 00:01:36.090000,254.019450,7,0.0,True,0,5347.787384,...,-2.28099,741,742,0.998652,0.11467,0.00000,0.11467,859.40488,2.28099,553.94680
29925,2023-03-05 16:37:35.468,0 days 02:36:33.619000,NaN,0 days 00:01:36.373000,231.222222,7,0.0,True,0,5365.721179,...,-2.28099,742,742,1.000000,0.01119,0.00000,0.01119,859.40488,2.28099,553.94680

In [ ]:
lap_df.drop(columns=['lon_acc', 'lat_acc', 'positive_lat_acc', 'negative_lat_acc', 'abs_lat_acc', 'abs_lon_acc', 'LapProgress'], inplace=True)

In [ ]:
lap_df

,Date,SessionTime,DistanceToDriverAhead,Time,Speed,nGear,Throttle,Brake,DRS,Distance,X,Y,Z,LapNumber,mean_lap_speed,TimeNumberLapTime,TimeNumberLapCounts,sum_lat_acc,sum_lon_acc
0,2023-03-05 15:03:38.501,0 days 01:02:36.652000,0.155556,0 days 00:00:00,0.000000,1,16.0,False,0,0.000194,-279.999631,3558.983052,-156.999885,1.0,185.815557,1,762,840.62035,560.87748
1,2023-03-05 15:03:38.611,0 days 01:02:36.762000,0.155556,0 days 00:00:00.110000,0.000000,1,16.0,False,0,0.000000,-279.999617,3558.982418,-156.999881,1.0,185.815557,2,762,840.62035,560.87748
2,2023-03-05 15:03:38.686,0 days 01:02:36.837000,0.155556,0 days 00:00:00.185000,0.000000,1,16.0,False,0,-0.000268,-280.000000,3559.000000,-157.000000,1.0,185.815557,3,762,840.62035,560.87748
3,2023-03-05 15:03:38.811,0 days 01:02:36.962000,0.155556,0 days 00:00:00.310000,0.000000,1,16.0,False,0,0.000000,-280.001327,3559.060983,-157.000413,1.0,185.815557,4,762,840.62035,560.87748
4,2023-03-05 15:03:38.946,0 days 01:02:37.097000,0.155556,0 days 00:00:00.445000,0.964284,1,16.0,False,0,0.003325,-280.000000,3559.000000,-157.000000,1.0,185.815557,5,762,840.62035,560.87748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29921,2023-03-05 16:37:34.828,0 days 02:36:32.979000,NaN,0 days 00:01:35.733000,271.000000,7,0.0,True,0,5322.452222,-407.146267,742.650673,-158.999991,57.0,200.748140,738,742,859.40488,553.94680
29922,2023-03-05 16:37:35.005,0 days 02:36:33.156000,NaN,0 days 00:01:35.910000,263.256253,7,0.0,True,0,5335.352916,-400.000000,881.000000,-159.000000,57.0,200.748140,739,742,859.40488,553.94680
29923,2023-03-05 16:37:35.148,0 days 02:36:33.299000,NaN,0 days 00:01:36.053000,257.000000,7,0.0,True,0,5345.296667,-394.385089,984.164803,-159.000000,57.0,200.748140,740,742,859.40488,553.94680
29924,2023-03-05 16:37:35.185,0 days 02:36:33.336000,NaN,0 days 00:01:36.090000,254.019450,7,0.0,True,0,5347.787384,-393.000000,1010.000000,-159.000000,57.0,200.748140,741,742,859.40488,553.94680
29925,2023-03-05 16:37:35.468,0 days 02:36:33.619000,NaN,0 days 00:01:36.373000,231.222222,7,0.0,True,0,5365.721179,-383.626622,1198.840423,-159.000000,57.0,200.748140,742,742,859.40488,553.94680

In [ ]:
def get_single_lap_data(df: pd.DataFrame) -> pd.DataFrame:
    final_df = pd.DataFrame(columns=df.columns)
    
    laps = int(df['LapNumber'].max())
    for i in range(1, laps + 1):  # Adjust range to include maximum lap number
        lap_df = df[df['LapNumber'] == i]
        if not lap_df.empty:
            final_row = lap_df.iloc[[-1],:]
            final_df = pd.concat([final_df, final_row], axis=0)
    
    return final_df

acc_df = get_single_lap_data(lap_df)

acc_df

C:\Users\Patryk\AppData\Local\Temp\ipykernel_15632\2664467517.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat([final_df, final_row], axis=0)

,Date,SessionTime,DistanceToDriverAhead,Time,Speed,nGear,Throttle,Brake,DRS,Distance,X,Y,Z,LapNumber,mean_lap_speed,TimeNumberLapTime,TimeNumberLapCounts,sum_lat_acc,sum_lon_acc
761,2023-03-05 15:05:17.751,0 days 01:04:15.902000,0.000278,0 days 00:01:39.250000,280.142857,7,100.0,False,0,5141.964903,-383.313167,1216.856742,-159.000000,1.0,185.815557,762,762,840.62035,560.87748
1499,2023-03-05 15:06:55.725,0 days 01:05:53.876000,NaN,0 days 00:01:37.974000,280.941666,7,100.0,False,0,5363.501061,-383.071911,1222.720301,-158.999999,2.0,196.531157,738,738,856.02736,514.79313
2258,2023-03-05 15:10:11.707,0 days 01:09:09.858000,NaN,0 days 00:01:37.976000,280.435716,7,100.0,False,0,5360.387868,-382.866368,1223.632581,-158.999999,4.0,197.711395,759,759,850.09057,511.85026
2984,2023-03-05 15:13:27.728,0 days 01:12:25.879000,NaN,0 days 00:01:37.986000,281.299169,7,100.0,False,0,5369.135413,-382.806640,1217.956630,-158.971744,6.0,197.696016,726,726,798.41078,505.85609
3714,2023-03-05 15:15:05.749,0 days 01:14:03.900000,NaN,0 days 00:01:38.021000,280.885714,7,100.0,False,0,5369.141600,-382.807112,1225.243520,-159.000006,7.0,197.638955,730,730,819.26118,502.92284
4435,2023-03-05 15:18:22.181,0 days 01:17:20.332000,NaN,0 days 00:01:38.278000,280.469998,7,100.0,False,0,5357.558452,-383.107053,1221.224106,-159.000000,9.0,198.031115,721,721,801.54246,491.95707
5164,2023-03-05 15:20:00.550,0 days 01:18:58.701000,NaN,0 days 00:01:38.369000,281.742857,7,100.0,False,0,5360.503372,-382.651356,1232.568831,-159.000022,10.0,198.022196,729,729,786.45545,501.00287
5904,2023-03-05 15:23:17.624,0 days 01:22:15.775000,NaN,0 days 00:01:38.591000,280.806250,7,100.0,False,0,5351.839787,-381.981249,1244.013410,-159.000000,12.0,196.354889,740,740,814.78850,511.22157
6649,2023-03-05 15:24:56.106,0 days 01:23:54.257000,NaN,0 days 00:01:38.482000,281.603123,7,100.0,False,0,5348.555270,-382.543554,1229.037919,-159.000000,13.0,197.694001,745,745,824.22662,524.98674
7536,2023-03-05 15:28:35.779,0 days 01:27:33.930000,716.727500,0 days 00:01:58.378000,281.329177,7,100.0,False,0,5379.813391,-380.853447,1261.003994,-159.000000,15.0,163.356430,887,887,867.44933,542.52337
8277,2023-03-05 15:30:13.580,0 days 01:29:11.731000,710.944167,0 days 00:01:37.801000,282.033333,7,100.0,False,0,5362.839705,-382.285601,1227.454575,-159.000000,16.0,198.330241,741,741,819.47552,516.42414
9005,2023-03-05 15:31:51.228,0 days 01:30:49.379000,183.687500,0 days 00:01:37.648000,281.862500,7,100.0,False,0,5367.073930,-383.159840,1212.940093,-159.000000,17.0,196.481570,728,728,810.05027,517.82108
9743,2023-03-05 15:36:44.342,0 days 01:35:42.493000,NaN,0 days 00:01:37.788000,281.044571,7,100.0,False,0,5363.715767,-378.500688,1310.794454,-158.999994,20.0,197.149157,738,738,830.20022,518.07487
10497,2023-03-05 15:38:21.924,0 days 01:37:20.075000,NaN,0 days 00:01:37.582000,282.000000,7,100.0,False,0,5369.153291,-382.292103,1230.912214,-159.000000,21.0,198.418131,754,754,855.77380,525.92328
11228,2023-03-05 15:43:14.514,0 days 01:42:12.665000,NaN,0 days 00:01:37.387000,282.560000,7,100.0,False,0,5366.591418,-375.870144,1364.960372,-159.000000,24.0,198.479150,731,731,815.18848,508.91780
11955,2023-03-05 15:44:51.886,0 days 01:43:50.037000,NaN,0 days 00:01:37.372000,283.096429,7,100.0,False,0,5359.892039,-382.902522,1221.172569,-159.000000,25.0,198.651795,727,727,811.81115,509.06767
12695,2023-03-05 15:48:06.947,0 days 01:47:05.098000,NaN,0 days 00:01:37.379000,282.775511,7,100.0,False,0,5362.761271,-383.117230,1215.758041,-159.000000,27.0,196.788952,740,740,855.01191,531.13551
13426,2023-03-05 15:49:44.598,0 days 01:48:42.749000,NaN,0 days 00:01:37.651000,282.000000,7,100.0,False,0,5360.193875,-382.575024,1230.130612,-158.110627,28.0,199.159248,731,731,795.13418,511.86365
14175,2023-03-05 15:51:22.169,0 days 01:50:20.320000,NaN,0 days 00:01:37.571000,284.681250,7,100.0,False,0,5367.170775,-383.622582,1213.273621,-159.000000,29.0,198.037293,749,749,828.21140,552.57838
14913,2023-03-05 15:54:37.149,0 days 01:53:35.300000,NaN,0 days 00:01:37.431000,284.755556,7,100.0,False,0,5364.270480,-382.849017,1218.176524,-159.000000,31.0,198.651339,738,738,828.53094,536.60517
15632,2023-03-05 15:57:52.526,0 days 01:56:50.677000,NaN,0 days 00:01:37.686000,284.687501,7,100.0,False,0,5359.372385,-375.647519,1359.937075,-159.000000,33.0,196.042504,719,719,780.41258,539.42027
16374,2023-03-05 15:59:30.365,0 days 01:58:28.516000,NaN,0 days 00:01:37.839000,284.433333,7,100.0,False,0,5357.274256,-382.787513,1224.161387,-159.000000,34.0,197.288829,742,742,814.97171,533.40693
17274,2023-03-05 16:04:47.669,0 days 02:03:45.820000,748.068333,0 days 00:01:58.490000,283.744999,7,100.0,False,0,5388.279596,-382.594535,1226.501211,-158.999999,37.0,164.343725,900,900,897.72933,567.50869
18007,2023-03-05 16:06:23.966,0 days 02:05:22.117000,NaN,0 days 00:01:36.297000,284.440000,7,100.0,False,0,5364.899905,-383.068009,1220.147982,-159.000000,38.0,200.294454,733,733,842.69511,505.45404
18734,2023-03-05 16:08:00.412,0 days 02:06:58.563000,NaN,0 days 00:01:36.446000,285.586363,7,100.0,False,0,5367.581870,-377.498941,1337.631327,-159.000000,39.0,203.157778,727,727,816.48830,501.12366
19470,2023-03-05 16:09:37.354,0 days 02:08:35.505000,NaN,0 days 00:01:36.942000,284.603123,7,100.0,False,0,5371.729536,-382.255190,1226.585567,-159.000000,40.0,202.201941,736,736,816.01953,511.53695
20380,2023-03-05 16:11:37.849,0 days 02:10:36,NaN,0 days 00:02:00.495000,229.868180,5,100.0,False,0,5337.160860,-384.201453,1189.398477,-159.000000,41.0,160.991692,910,910,728.39106,533.88433
21160,2023-03-05 16:13:22.673,0 days 02:12:20.824000,NaN,0 days 00:01:44.824000,284.153125,7,100.0,False,0,5367.178200,-377.074726,1338.116469,-159.000000,42.0,184.335815,780,780,789.91068,548.56393
21883,2023-03-05 16:14:59.563,0 days 02:13:57.714000,NaN,0 days 00:01:36.890000,284.412500,7,100.0,False,0,5365.447242,-382.192171,1221.867280,-159.000000,43.0,201.486159,723,723,803.86393,516.71917
22609,2023-03-05 16:16:35.799,0 days 02:15:33.950000,NaN,0 days 00:01:36.236000,285.395834,7,100.0,False,0,5363.933462,-382.918843,1226.166127,-159.000000,44.0,201.858954,726,726,843.74005,528.74312
23341,2023-03-05 16:18:12.814,0 days 02:17:10.965000,NaN,0 days 00:01:37.015000,283.866111,7,100.0,False,0,5356.064500,-383.145567,1221.453788,-158.181712,45.0,199.429541,732,732,817.64990,514.02662
24055,2023-03-05 16:19:49.515,0 days 02:18:47.666000,NaN,0 days 00:01:36.701000,284.625002,7,100.0,False,0,5356.984440,-383.068070,1211.119582,-159.000000,46.0,199.788080,714,714,802.36868,520.93438
24789,2023-03-05 16:24:40.404,0 days 02:23:38.555000,NaN,0 days 00:01:36.962000,281.816668,7,100.0,False,0,5379.433950,-382.702656,1231.799381,-159.000000,49.0,198.468902,734,734,837.91959,531.82330
25517,2023-03-05 16:27:55.081,0 days 02:26:53.232000,NaN,0 days 00:01:37.427000,281.783332,7,100.0,False,0,5360.848709,-383.004001,1211.102105,-158.999999,51.0,198.062585,728,728,796.28724,531.34696
26245,2023-03-05 16:29:32.000,0 days 02:28:30.151000,NaN,0 days 00:01:36.919000,282.822224,7,100.0,False,0,5370.599649,-383.282883,1217.901099,-159.000000,52.0,198.619156,728,728,822.50331,531.14621
26973,2023-03-05 16:31:08.890,0 days 02:30:07.041000,NaN,0 days 00:01:36.890000,282.449999,7,100.0,False,0,5364.667820,-382.633642,1226.923387,-159.000000,53.0,199.259836,728,728,827.97436,519.51894
27696,2023-03-05 16:32:45.568,0 days 02:31:43.719000,NaN,0 days 00:01:36.678000,282.000000,7,100.0,False,0,5374.548428,-382.238984,1226.789914,-159.000000,54.0,199.717364,723,723,830.36710,529.33654
28430,2023-03-05 16:34:21.890,0 days 02:33:20.041000,NaN,0 days 00:01:36.322000,283.762499,7,100.0,False,0,5366.363282,-381.676162,1236.171148,-159.000003,55.0,201.563637,734,734,850.11657,533.25851
29183,2023-03-05 16:35:59.095,0 days 02:34:57.246000,NaN,0 days 00:01:37.205000,284.918750,7,100.0,False,0,5351.527836,-381.282918,1249.579147,-159.000002,56.0,198.117777,753,753,856.56862,529.14208
29925,2023-03-05 16:37:35.468,0 days 02:36:33.619000,NaN,0 days 00:01:36.373000,231.222222,7,0.0,True,0,5365.721179,-383.626622,1198.840423,-159.000000,57.0,200.748140,742,742,859.40488,553.94680

In [ ]:
X_acc = acc_df.loc[:, ['LapNumber', 'sum_lat_acc', 'sum_lon_acc']]

In [ ]:
X_c = pd.merge(X, X_acc, on='LapNumber',)

In [ ]:
X_c

    LapNumber  SpeedI1  SpeedI2  SpeedFL  sum_lat_acc  sum_lon_acc
0         1.0    232.0    231.0    278.0    840.62035    560.87748
1         2.0    227.0    238.0    278.0    856.02736    514.79313
2         4.0    228.0    238.0    278.0    850.09057    511.85026
3         6.0    229.0    239.0    279.0    798.41078    505.85609
4         7.0    230.0    239.0    279.0    819.26118    502.92284
5         9.0    229.0    242.0    279.0    801.54246    491.95707
6        10.0    230.0    242.0    279.0    786.45545    501.00287
7        12.0    231.0    241.0    278.0    814.78850    511.22157
8        13.0    230.0    241.0    278.0    824.22662    524.98674
9        15.0    230.0    237.0    279.0    867.44933    542.52337
10       16.0    231.0    236.0    280.0    819.47552    516.42414
11       17.0    232.0    237.0    280.0    810.05027    517.82108
12       20.0    230.0    237.0    280.0    830.20022    518.07487
13       21.0    232.0    239.0    280.0    855.77380    525.92328
14       24.0    233.0    238.0    280.0    815.18848    508.91780
15       25.0    232.0    240.0    281.0    811.81115    509.06767
16       27.0    233.0    245.0    281.0    855.01191    531.13551
17       28.0    231.0    241.0    281.0    795.13418    511.86365
18       29.0    233.0    245.0    283.0    828.21140    552.57838
19       31.0    232.0    250.0    282.0    828.53094    536.60517
20       33.0    233.0    249.0    282.0    780.41258    539.42027
21       34.0    232.0    248.0    283.0    814.97171    533.40693
22       37.0    232.0    244.0    281.0    897.72933    567.50869
23       38.0    235.0    246.0    281.0    842.69511    505.45404
24       39.0    233.0    244.0    282.0    816.48830    501.12366
25       40.0    231.0    240.0    282.0    816.01953    511.53695
26       41.0    233.0    214.0    225.0    728.39106    533.88433
27       42.0    230.0    246.0    282.0    789.91068    548.56393
28       43.0    236.0    247.0    282.0    803.86393    516.71917
29       44.0    237.0    245.0    283.0    843.74005    528.74312
30       45.0    235.0    245.0    281.0    817.64990    514.02662
31       46.0    236.0    245.0    282.0    802.36868    520.93438
32       49.0    234.0    239.0    279.0    837.91959    531.82330
33       51.0    233.0    241.0    279.0    796.28724    531.34696
34       52.0    235.0    241.0    280.0    822.50331    531.14621
35       53.0    228.0    240.0    280.0    827.97436    519.51894
36       54.0    235.0    245.0    280.0    830.36710    529.33654
37       55.0    234.0    247.0    282.0    850.11657    533.25851
38       56.0    233.0    238.0    282.0    856.56862    529.14208
39       57.0    235.0    262.0    253.0    859.40488    553.94680

In [ ]:
y

0      99.019
1      97.974
3      97.976
5      97.986
6      98.021
8      98.278
9      98.369
11     98.591
12     98.482
14    118.378
15     97.801
16     97.648
19     97.788
20     97.582
23     97.387
24     97.372
26     97.379
27     97.651
28     97.571
30     97.431
32     97.686
33     97.839
36    118.490
37     96.297
38     96.446
39     96.942
40    120.495
41    104.824
42     96.890
43     96.236
44     97.015
45     96.701
48     96.962
50     97.427
51     96.919
52     96.890
53     96.678
54     96.322
55     97.205
56     96.373
Name: LapTime_sec, dtype: float64

In [ ]:
assert X_c.shape[0] == y.shape[0]

Linear Regression

In [ ]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

# Linear Regression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
y_pred_linear = linear_model.predict(X_test)
mse_linear = mean_squared_error(y_test, y_pred_linear)
print(f"Linear Regression MSE: {mse_linear:.3f}")


scaler = StandardScaler()
X_scaled_c = scaler.fit_transform(X_c)

X_train_c, X_test_c, y_train_c, y_test_c = train_test_split(X_scaled_c, y, test_size=0.2)

# Linear Regression
linear_model = LinearRegression()
linear_model.fit(X_train_c, y_train_c)
y_pred_linear_c = linear_model.predict(X_test_c)
mse_linear = mean_squared_error(y_test_c, y_pred_linear_c)
print(f"Linear Regression MSE with additional data: {mse_linear:.3f}")

Linear Regression MSE: 20.763
Linear Regression MSE with additional data: 2.158

Decision Tree

In [ ]:
tree_model = DecisionTreeRegressor(random_state=12)
tree_model.fit(X_train, y_train)
y_pred_tree = tree_model.predict(X_test)
mse_tree = mean_squared_error(y_test, y_pred_tree)
print(f"Decision Tree MSE: {mse_tree:.3f}")

tree_model = DecisionTreeRegressor(random_state=12)
tree_model.fit(X_train_c, y_train_c)
y_pred_tree_c = tree_model.predict(X_test_c)
mse_tree = mean_squared_error(y_test_c, y_pred_tree_c)
print(f"Decision Tree MSE with additional data: {mse_tree:.3f}")

Obliczanie submodelu telemetrii w konte≈õcie podzia≈Çu na sektory

In [ ]:
def compute_binned(df : pd.DataFrame, column : str = 'lat', bins : int = 10, aggfunc : str ='mean') -> pd.DataFrame:
    
    df['bin'] = pd.cut(df['LapProgress'], bins=bins, labels=False, include_lowest=True)
    
    result = (
        df.groupby(['LapNumber', 'bin'])[column]
        .agg(aggfunc)
        .reset_index()
        .rename(columns={column: f'{aggfunc}_of_{column}'})
    )
    return result

In [ ]:
binned_result = compute_binned(telemetry, column='lat_acc', bins=10, aggfunc='sum')

binned_result

     LapNumber  bin  sum_of_lat_acc
0          1.0    0           -1.40
1          1.0    1          -27.03
2          1.0    2          -79.70
3          1.0    3           -1.87
4          1.0    4          -30.47
..         ...  ...             ...
565       57.0    5           60.15
566       57.0    6          110.83
567       57.0    7         -165.74
568       57.0    8           -3.58
569       57.0    9          -65.11

[570 rows x 3 columns]

Podej≈õcia:

suma z sektor√≥w por√≥wnana do:

- ≈õredniej kroczƒÖcej z innych okrƒÖ≈ºe≈Ñ

- top okrƒÖ≈ºenia w stincie

- top okrƒÖ≈ºenia kwalifikacyjnego