In [ ]:
import fastf1
import os
import sys
import pandas as pd

ModuleNotFoundError: No module named 'loader'

In [16]:
# Load season dataset
season_df = pd.read_pickle('../season_full_dataset.pkl')

# Show basic information about the dataset
print("Dataset shape:", season_df.shape)
print("\nColumns in the dataset:")
print(season_df.columns.tolist())
print("\nFirst few rows:")
season_df.head()

Dataset shape: (19507, 15)

Columns in the dataset:
['Track', 'Driver', 'Compound', 'TyreLife', 'StartFuel', 'FCL', 'LapTime', 'SpeedI1', 'SpeedI2', 'SpeedFL', 'SumLonAcc', 'SumLatAcc', 'MeanLapSpeed', 'LonDistanceDTW', 'LatDistanceDTW']

First few rows:

,Track,Driver,Compound,TyreLife,StartFuel,FCL,LapTime,SpeedI1,SpeedI2,SpeedFL,SumLonAcc,SumLatAcc,MeanLapSpeed,LonDistanceDTW,LatDistanceDTW
0,Bahrain,VER,SOFT,4.0,100.000000,96.019000,0 days 00:01:39.019000,232.0,231.0,278.0,561.07970,840.76762,185.815557,12.072970,16.422290
1,Bahrain,VER,SOFT,5.0,98.232143,95.000517,0 days 00:01:37.974000,227.0,238.0,278.0,515.23100,855.49170,196.531157,11.740397,17.690049
2,Bahrain,VER,SOFT,7.0,94.696429,95.108589,0 days 00:01:37.976000,228.0,238.0,278.0,512.35496,853.49005,197.711395,11.392580,17.845079
3,Bahrain,VER,SOFT,9.0,91.160714,95.224660,0 days 00:01:37.986000,229.0,239.0,279.0,506.39443,798.17038,197.696016,11.075037,15.948652
4,Bahrain,VER,SOFT,10.0,89.392857,95.312696,0 days 00:01:38.021000,230.0,239.0,279.0,503.46019,818.31458,197.638955,11.201066,16.233708

In [14]:
print(season_df['Track'].unique())

['Bahrain' 'Saudi Arabia' 'Australia' 'Azerbaijan' 'Miami' 'Monaco'
 'Spain' 'Canada' 'Austria' 'Great Britain' 'Hungary' 'Belgium'
 'Netherlands' 'Italy' 'Singapore' 'Japan' 'Qatar' 'Mexico' 'Brazil'
 'Las Vegas' 'Abu Dhabi']