In [1]:
import fastf1
import pandas as pd

In [ ]:
#cyfronet version
fastf1.Cache.enable_cache('cache')
gps = [
'Saudi', 'Australia', 'Azerbaijan', 'Miami', 'Monaco', 'Spain', 'Canada', 'Austria',
'Great Britain', 'Hungary', 'Belgium', 'Netherlands', 'Italy', 'Singapore', 'Japan', 'Qatar',
'USA', 'Mexico', 'Brazil', 'Las Vegas', 'Abu Dhabi'
]
for gp in gps:
    session = fastf1.get_session(2023, gp, 'R')
    session.load(telemetry=True)
    laps = session.laps

    telemetry_data = []
    for _, lap in laps.iterrows():
        tel = lap.get_telemetry()
        tel['DriverNumber'] = lap['DriverNumber']  
        tel['LapNumber'] = lap['LapNumber']
        telemetry_data.append(tel)

    telemetry_df = pd.concat(telemetry_data, ignore_index=True)
    telemetry_df.to_pickle(gp)

core           INFO 	Loading data for Japanese Grand Prix - Race [v3.5.3]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core        WARNING 	Driver 1 completed the race distance 00:00.076000 before the recorded end of the session.
core           INFO 	Finished loading data for 20 drivers: ['1', '4', '81', '16', '44', '55', '63', '14', '31', '10', '40', '22', '24', '27', '20', '23', '2', '18', '11', '77']

In [5]:
full_df.to_pickle('../data_telemetry/2023_full_telemetry.pkl')

In [6]:
full_df.head()

,Date,SessionTime,DriverAhead,DistanceToDriverAhead,Time,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Distance,RelativeDistance,Status,X,Y,Z,DriverNumber,LapNumber
0,2023-11-26 13:03:25.644,0 days 01:02:24.519000,,0.0,0 days 00:00:00,10105.516685,0.000000,1,15.845834,True,1,interpolation,-0.033609,-0.000007,OnTrack,1511.593728,2188.101349,-240.000344,1,1.0
1,2023-11-26 13:03:25.847,0 days 01:02:24.722000,,0.0,0 days 00:00:00.203000,10048.000000,0.000000,1,15.000000,True,1,car,0.000000,0.000000,OnTrack,1511.128095,2188.021866,-240.000074,1,1.0
2,2023-11-26 13:03:25.868,0 days 01:02:24.743000,,0.0,0 days 00:00:00.224000,9950.000299,0.481249,1,15.000000,True,1,pos,0.024529,0.000005,OnTrack,1511.000000,2188.000000,-240.000000,1,1.0
3,2023-11-26 13:03:26.289,0 days 01:02:25.164000,,0.0,0 days 00:00:00.645000,7985.333931,10.129164,1,15.000000,True,1,pos,1.292379,0.000251,OnTrack,1512.000000,2188.000000,-240.000000,1,1.0
4,2023-11-26 13:03:26.327,0 days 01:02:25.202000,16,0.0,0 days 00:00:00.683000,7808.000000,11.000000,1,15.000000,False,1,car,1.466667,0.000285,OnTrack,1513.835525,2188.246130,-240.000836,1,1.0